body {
    background-color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.common {
    position: absolute;
}

.header {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 200px;
    z-index: 2;
    border-bottom: solid 1px #555555;
}
.leftmenu {
    top: 150px;
    left: 5px;
    bottom: 39px;
    z-index: 1;
    padding-top: 50px;

}

.footer {
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 25px; 
    font-size: 8px;
    color: #999999;
    text-align: center;
    padding-top: 15px;
    position: fixed;
}